<div class="sidebar">
    <%= render "users/show" %>
</div>
<div class="signup_form">
    <h1>New Team</h1>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(@team) do |f| %>
            
            <%= f.label :avatar, "チーム画像" %><br>
            <%= image_tag @team.avatar.url if @team.avatar %>
            <%= f.file_field :avatar %>
            
            <%= f.label :name, "チーム名" %>
            <%= f.text_field :name, class: 'form-control' %>
            
            <%= f.submit "チームを作成！", class: "btn-large btn-primary" %>
            <% end %>
        </div>
    </div>
    <div class="var_link">
        <ul>
            <li><%= link_to "戻る", current_user %></li>
        </ul>
    </div>
</div>
