<div class="meeting">
    <div class="team_name">
        <p><%= @team.name %></p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Meeting Room</div>
        <% @meetings.each do |m| %>
             <div class="label_name">
                <span class="label label-info">
                    <%= m.name %>
                </span>
            </div>
            <%= m.content %><hr>
        <% end %>
    </div>
        <%= form_for (@meeting) do |f| %>
        <div><%= f.hidden_field :user_id, :value => @user.id %></div>
        <div><%= f.hidden_field :team_id, :value => @team.id %></div>
        <p><%= @user.name %></p>
        <%= f.label :content, "メッセージ"%>
        <%= f.text_field :content, class: 'form-control'%>
        
        <%= f.label :name, "投稿名"%>
        <%= f.text_field :name, class: 'form-control'%>
        
        <%= f.submit "送信", class: "btn-large btn-primary"%>
    <% end %>
</div>