<div class="sidebar">
    <%= render "users/show" %>
    <%= render "users/sidevar" %>
</div>
<div class="userpage">
    <div class="userinfo">
        <h1>Profile</h1>
        <ul>
            <li><div class="ptitle">Name:</div><%= @user.name%></li>
            <li><div class="ptitle">Age:</div><%= @user.age %></li>
            <li><div class="ptitle">My Team:</div><%= @team.name %></li>
        <ul>
    </div>
    <hr>
    <div class="teammate">
        <h2>Teammate</h2>
        <% @team_users.each do |user| %>
            <li>
                <%= image_tag user.avatar.url, :alt => "noimage" %><br>
                <%= link_to user.name, user_path(user) %>
            </li>
        <% end %>
    </div>
</div>