<li><%= image_tag @player1.avatar.url %></li>
<p><%= @player1.name %></p>

<li><%= image_tag @player2.avatar.url %></li>
<p><%= @player2.name %></p>

<li><%= image_tag @player3.avatar.url %></li>
<p><%= @player3.name %></p>

<li><%= image_tag @player4.avatar.url %></li>
<p><%= @player4.name %></p>

<li><%= image_tag @player5.avatar.url %></li>
<p><%= @player5.name %></p>

<li><%= image_tag @player6.avatar.url %></li>
<p><%= @player6.name %></p>

<li><%= image_tag @player7.avatar.url %></li>
<p><%= @player7.name %></p>

<li><%= image_tag @player8.avatar.url %></li>
<p><%= @player8.name %></p>

<li><%= image_tag @player9.avatar.url %></li>
<p><%= @player9.name %></p>

<li><%= image_tag @player10.avatar.url %></li>
<p><%= @player10.name %></p>

<li><%= image_tag @player11.avatar.url %></li>
<p><%= @player11.name %></p>