<div class="formation">
    <div class="formation_name">
        <p><%= @formation.name %></p>
    </div>
    <div id="player1" class="player">
        <li><%= image_tag @player1.avatar.url %></li>
        <p><%= @player1.name %></p>
    </div>
    <div id="player2" class="player">
        <li><%= image_tag @player2.avatar.url %></li>
        <p><%= @player2.name %></p>
    </div>
    <div id="player3" class="player">
        <li><%= image_tag @player3.avatar.url %></li>
        <p><%= @player3.name %></p>
    </div>
    <div id="player4" class="player">
        <li><%= image_tag @player4.avatar.url %></li>
        <p><%= @player4.name %></p>
    </div>
    <div id="player5" class="player">
        <li><%= image_tag @player5.avatar.url %></li>
        <p><%= @player5.name %></p>
    </div>
    <div id="player6" class="player">
        <li><%= image_tag @player6.avatar.url %></li>
        <p><%= @player6.name %></p>
    </div>
    <div id="player7" class="player">
        <li><%= image_tag @player7.avatar.url %></li>
        <p><%= @player7.name %></p>
    </div>
    <div id="player8" class="player">
        <li><%= image_tag @player8.avatar.url %></li>
        <p><%= @player8.name %></p>
    </div>
    <div id="player9" class="player">
        <li><%= image_tag @player9.avatar.url %></li>
        <p><%= @player9.name %></p>
    </div>
    <div id="player10" class="player">
        <li><%= image_tag @player10.avatar.url %></li>
        <p><%= @player10.name %></p>
    </div>
    <div id="player11" class="player">
        <li><%= image_tag @player11.avatar.url %></li>
        <p><%= @player11.name %></p>
    </div>
</div>