<header class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
    <div class="container">
        <nav>
            <div class="row">
                <div class="apptitle">
                    <% if logged_in? %>
                        <%= link_to "Pibe", current_user, :style => "color:white" %>
                    <% else %>
                        <%= link_to "Pibe", root_path, :style => "color:white" %>
                    <% end %>
                    
                </div>
                <div class="subtitle">
                        <p>help your management</p>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <% if logged_in? %>
                        <li>
                            <%= link_to "ログアウト", logout_path, method: "delete", :class => "glyphicon glyphicon-user", :style => "color:white" %>
                        </li>
                    <% else %>
                        <li >
                            <%= link_to "チーム一覧", teams_path, :class => "glyphicon glyphicon-list", :style => "color:white" %>
                        </li>
                        <li>
                            <%= link_to "サインアップ", signup_path, :class => "glyphicon glyphicon-ok", :style => "color:white" %>
                        </li>
                        <li>
                            <%= link_to "ログイン", login_path, :class => "glyphicon glyphicon-user", :style => "color:white" %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </nav>
    </div>
</header>